.vs/

**/Debug/
**/Release/
**/x64/
**/Win32/

*.obj
*.exe
*.dll
*.lib
*.ilk
*.idb
*.pdb
*.ipdb
*.iobj
*.pch

*.tlog
*.log
*.recipe
*.lastbuildstate
*.unsuccessfulbuild
*.Up2Date
*.FileListAbsolute.txt

*.suo
*.user
*.userosscache
*.sln.docstates

packages/
*.nupkg
build/
out/
